<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to VI</title>
</head>
<body>
	<p style="font-size:18px;>
		Hi@ViewBag.Name,
	</p>
	<p style="font-size:18px;">

	</p>
    <div>
    
    </div>
</body>
</html>
